<% title "Question Manager" %>
<p>
  This is a prototype of the multipe choice test question manager
  and test generator.
</p>

<ul>
  <li><%= link_to "Questions", questions_path %></li>
  <li><%= link_to "Categories", categories_path %></li>
</ul>
