// Highlight the correct answer in the display

table.answers_table {
  th, td {
    vertical-align: top;
  }

  tr.correct {
    background-color: yellow;
  }
}

table.answers {
  th, td {
    vertical-align: top;
  }
}
