<% title "Categories" %>

<%= render "down_from", :categories => @root_categories %>

<p class="non_printing">
<%= link_to make_icon_tag("add", :title => "Add a New Category"),
  new_category_path %>
</p>
